<div class='row'>
   <div class='span ten'>
     <%= image_tag @character.thumbnail_image_url %>
   </div>
</div>

<div class='row'>
   <div class='span ten'>
     <input type="text" id="answer">

     <button class="button primary large">Submit</button>
   </div>
 </div>