<h1>Hero or Evil ?</h1>

<div class='row'>
   <div class='span ten'>
     <%= image_tag @character.thumbnail_image_url %>
   </div>
</div>

<div class='row'>
   <div class='span ten'>
     <button class="button primary large">Hero</button>
     <button class="button primary large">Evil</button>     
   </div>
 </div>