<% @character.each do |character| %>
  <div class='img-container'>
  <img data-0="transform:rotate(0deg);width:100px;height:100px;margin-top:0px"
       data-500="transform:rotate(360deg);width:600px;height:600px;margin-top:600px"
       src="<%= "#{character.thumbnail_image_url}" %>"
       width="100px"
       height="100px">
  </img>
  </div>
<% end %>

<!-- <div class='img-container'>
<img data-0="transform:rotate(0deg);width:100px;height:100px;margin-top:0px"
     data-500="transform:rotate(360deg);width:600px;height:600px;margin-top:600px"
     src="http://i.annihil.us/u/prod/marvel/i/mg/3/20/5232158de5b16.jpg"
     width="100px"
     height="100px">
</img>
</div>
<div class='img-container'>
<img data-0="transform:rotate(0deg);width:100px;height:100px;margin-top:0px"
     data-500="transform:rotate(360deg);width:600px;height:600px;margin-top:600px"
     src="http://i.annihil.us/u/prod/marvel/i/mg/1/b0/5269678709fb7.jpg"
     width="100px"
     height="100px">
</img>
</div> -->
