<div class="container">
  <div class="background"
       data-0="opacity:0"
       data-500="opacity:0.9"
  ></div>
  <% @character.each do |character| %>
    <div class='text-center'>
    <img data-0="transform:rotate(0deg);border-radius:100%;width:100px;height:100px;margin-top:0px"
         data-500="transform:rotate(360deg);border-radius:10%;width:600px;height:600px;margin-top:600px"
         src="<%= "#{character.thumbnail_image_url}" %>"
         width="100px"
         height="100px">
    </img>
    </div>
  <% end %>
</div>
