body {
  padding-top: 60px;
}

body.home.index {
  background: image-url('marvel_banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.img-container img {
  border-radius: 100%;	
}

input {
  font-size: 1.1em;
  padding: 15px;
}

.container .background {
  pointer-events: none;
  background-color: #222;
  position: fixed;
  opacity: 0.7;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateZ(0);
}